@design-system:registry=https://pnl.gitlab.schubergphilis.com/api/v4/projects/4139/packages/npm/
//pnl.gitlab.schubergphilis.com/api/v4/projects/4139/packages/npm/:_authToken=OUcgIGtqZN8ODKlWM8aaK286MQp1OjFiZAk.01.0z1i2bl96
